body {
    height: 100vh;
}

#summon {
    display: none;
    position: absolute;
    width: 70px;
    height: 72px;
    cursor: pointer;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    position: relative;
}

.card {
    background-color: transparent;
}
