.wrapper {
    width: 800px;
    margin: 20px auto;
    position: relative;
}
canvas {
    border: 1px solid #000000;
    position: absolute;
}
.music {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    background-image: url('../img/music.png');
}
.music.on {
    background-position: 48px 0;
}
.music.on:hover {
    background-position: 48px 48px;
}
.music.off {
    background-position: 0 0;
}
.music.off:hover {
    background-position: 0 48px;
}
.terror_mode {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 6px;
    background-image: url('../img/terror_mode.png');
    display: none;
}
